* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  height: 8%;
  border-radius: 10px;
  background-color: hsla(0, 0%, 42%, 0.49);
  // background-color: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::selection {
  background: #1F1F1F;
  color: #DA7777;
  text-shadow: none;
}

#wrapper {}

/* skip-nav */
#skip-nav {
  position: relative;
  z-index: 100;

  a {
    position: absolute;
    top: -30px;
    left: 0;
    width: 300px;
    background: #333;
    text-align: center;
    padding: 2px 6px 0 0;
    font-size: 13px;
    line-height: 26px;
    color: #fff;
    white-space: nowrap;

    &:focus {
      top: 0;
    }
  }
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

i[class^="ico-"],
i[class*="ico-"] {
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
}

div[class*="inner"] {
  position: relative;
  margin: 0 auto;
}

.common-inner {}

.abs {
  position: absolute;
  opacity: 0;
}

span {
  display: inline-block;
}

img {
  width: 100%;
}

.bg-texture {
  background-image: linear-gradient(180deg, rgba(23, 22, 22, .89), rgba(23, 22, 22, .89)), url("../images/bg/bg_texture.jpg");
  background-position: 0 0, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}