// font - Gt eesti
@font-face {
  font-family: 'Gt eesti display trial';
  src: url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59b3647cd700d009a686_GT-Eesti-Display-Bold-Trial.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gt eesti text trial';
  src: url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59cfc1220c8460223adf_GT-Eesti-Text-Bold-Trial.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gt eesti text book trial';
  src: url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59cfcc6e4c55ae550ea4_GT-Eesti-Text-Book-Italic-Trial.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gt eesti text book trial';
  src: url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59cf09292bd2c9d5caec_GT-Eesti-Text-Book-Trial.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gt eesti text trial';
  src: url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59cf48e1ea54a160aaef_GT-Eesti-Text-Bold-Italic-Trial.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gt eesti text trial';
  src: url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59d03b4299d53c12cfea_GT-Eesti-Text-Light-Italic-Trial.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gt eesti text trial';
  src: url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59d0df390bcb8440131f_GT-Eesti-Text-Medium-Trial.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gt eesti text trial';
  src: url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59d0647cd7566109a788_GT-Eesti-Text-Light-Trial.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gt eesti text trial';
  src: url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59d018a85029e569189f_GT-Eesti-Text-Medium-Italic-Trial.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Voyage';
  src: url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60c490ae772b12a53b479063_Voyage-Regular.woff2') format('woff2'), url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60c490ae672061254063f5cf_Voyage-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Voyage';
  src: url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60c490c355dc491f42553c78_Voyage-Bold.woff2') format('woff2'), url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60c490c371559ebedf7b493a_Voyage-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gt eesti display trial';
  src: url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/615b0d6ec74b03774acc23b6_GT-Eesti-Display-UltraLight-Trial.woff2') format('woff2'), url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/615b0b40e72721bafde3898e_GT-Eesti-Display-UltraLight-Trial.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gt eesti text';
  src: url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e48456184bc10ece19141d_GT-Eesti-Text-Light.woff2') format('woff2'), url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e48457142f0ca141c95f9c_GT-Eesti-Text-Light.woff') format('woff'), url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e4845641c3e5aea66147f5_GT-Eesti-Text-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gt eesti text 2';
  src: url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e48457f012c23a87c3e479_GT-Eesti-Text-Light-2.woff2') format('woff2'), url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e484561cac2ee494605109_GT-Eesti-Text-Light-2.woff') format('woff'), url('https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e48457f012c2d06bc3e478_GT-Eesti-Text-Light-2.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: {
    color: #171616;
    image: linear-gradient(180deg, rgba(23, 22, 22, .89), rgba(23, 22, 22, .89)), url("../images/bg/body_bg.jpg");
    position: 0 0, 50% 50%;
    size: auto, cover;
    repeat: repeat, no-repeat;
    attachment: scroll, fixed;
  }
  font: {
    family: 'Gt eesti text', sans-serif;
    size: 1vw;
    weight: 300;
  }
  line-height: 1.5;
  color: #fff6f2;
}

.headline-area-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: {
    top: 10em;
    bottom: 10em;
  }

  .title-area {
    text-align: center;
  }

  .sc-title {
    position: relative;
    z-index: 1;
    overflow: hidden;
    font: {
      family: 'Gt eesti text', sans-serif;
      size: 1.3em;
      weight: 300;
    }
    line-height: 1;
    letter-spacing: .1em;
    color: rgba(237, 220, 212, .89);
    text-transform: uppercase;
    overflow: hidden;
    transition: opacity 1s, top 1s cubic-bezier(.25, .46, .45, .94);

    @include desktop {
      font-size: 12px;
    }
  }

  .sc-sub-title {
    margin-top: 2em;
    overflow: hidden;

    .txt-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: -0.25em;
      padding-bottom: 0.2em;
      overflow: hidden;
      line-height: 1;
      font: {
        family: Voyage, sans-serif;
        size: 5.3em;
        weight: 200;
      }

      @include desktop {
        padding-bottom: 0.2em;
      }

      @include mobile-small {
        padding-bottom: 0.1em;
      }
    }

    span {
      padding: {
        left: 0.1em;
        right: 0.1em;
      }

      @include mobile-small {
        font-size: 2.4em;
      }
    }
  }
}