// footer
#footer {
  position: relative;
  z-index: 1;

  .inner {
    width: 100%;
    height: 100%;
    padding: {
      left: 8em;
      right: 8em;
      top: 1.7em;
      bottom: 2em;
    }

    @include mobile-large {
      padding: {
        left: 12.1em;
        right: 12.1em;
      }
    }

    @include mobile-small {
      padding: {
        left: 5.3em;
        right: 5.3em;
      }
    }
  }

  .group-nav {
    display: flex;
    justify-content: space-between;

    @include mobile-large {
      flex-direction: column;
    }
  }

  .nav-area {

    @include mobile-large {
      text-align: center;

      &+.nav-area {
        margin-top: 50px;
      }
    }

    .title {
      margin-bottom: 0.5em;
      font: {
        family: Voyage, sans-serif;
        size: 3.9em;
        weight: 400;
      }
      line-height: 1;
      color: #fff6f2;

      @include mobile-large {
        font-size: 4.3em;
      }

      @include mobile-small {
        margin: {
          top: 21px;
          bottom: 0.3em;
        }
        font-size: 7.5em;
      }
    }

    &:nth-child(2) {
      .nav-list {
        align-items: flex-end;

        @include mobile-large {
          align-items: center;
        }
      }
    }
  }

  .nav-list {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin-top: 0.8em;
    font-size: 1.2em;
    letter-spacing: .05em;
    text-transform: uppercase;
    overflow: hidden;
    transition: color .4s;

    &:hover {
      color: #ec8383;
    }

    @include desktop {
      font: {
        family: 'Gt eesti display trial', sans-serif;
        size: 1.7em;
        weight: 200;
      }
    }

    @include mobile-large {
      padding: {
        top: 0.3em;
        bottom: 0.3em;
      }
      font-size: 3em;
    }

    @include mobile-small {
      font-size: 4.7em;
    }
  }

  .link-nav {
    position: relative;
    display: block;
    padding: {
      top: 0.1em;
      bottom: 0.1em;
    }
    transition: top 1s cubic-bezier(.25, .46, .45, .94);
  }

  .copyright {
    font: {
      family: 'Gt eesti text', sans-serif;
      size: 1.1em;
    }
    text-align: center;
    opacity: .8;

    @include desktop {
      font-size: 1em;
    }

    @include mobile-large {
      margin-top: 2em;
    }

    @include mobile-small {
      font-size: 2.5em;
    }

    a {
      display: block;

      @include desktop {
        font-size: 2vw;
      }

      @include mobile-small {
        font-size: 1.5vw;
      }
    }

    @include mobile-small {
      margin: {
        top: 32px;
        bottom: 30px;
      }
    }
  }
}