/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; color: inherit; }

img { max-width: 100%; vertical-align: top; }

input, select, button { font: inherit; color: inherit; -webkit-appearance: none; border: 0; background: transparent; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { overflow-y: scroll; overflow-x: hidden; }

::-webkit-scrollbar { width: 0; }

::-webkit-scrollbar-thumb { background: #FF0000; }

::-moz-selection { background: #1F1F1F; color: #DA7777; text-shadow: none; }

::selection { background: #1F1F1F; color: #DA7777; text-shadow: none; }

/* skip-nav */
#skip-nav { position: relative; z-index: 100; }

#skip-nav a { position: absolute; top: -30px; left: 0; width: 300px; background: #333; text-align: center; padding: 2px 6px 0 0; font-size: 13px; line-height: 26px; color: #fff; white-space: nowrap; }

#skip-nav a:focus { top: 0; }

.blind { position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip: rect(0 0 0 0); }

i[class^="ico-"], i[class*="ico-"] { display: inline-block; vertical-align: top; background-repeat: no-repeat; }

div[class*="inner"] { position: relative; margin: 0 auto; }

.abs { position: absolute; opacity: 0; }

@font-face { font-family: 'Gt eesti display trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59b3647cd700d009a686_GT-Eesti-Display-Bold-Trial.woff2") format("woff2"); font-weight: 700; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti text trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59cfc1220c8460223adf_GT-Eesti-Text-Bold-Trial.woff2") format("woff2"); font-weight: 700; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti text book trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59cfcc6e4c55ae550ea4_GT-Eesti-Text-Book-Italic-Trial.woff2") format("woff2"); font-weight: 400; font-style: italic; font-display: swap; }

@font-face { font-family: 'Gt eesti text book trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59cf09292bd2c9d5caec_GT-Eesti-Text-Book-Trial.woff2") format("woff2"); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti text trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59cf48e1ea54a160aaef_GT-Eesti-Text-Bold-Italic-Trial.woff2") format("woff2"); font-weight: 700; font-style: italic; font-display: swap; }

@font-face { font-family: 'Gt eesti text trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59d03b4299d53c12cfea_GT-Eesti-Text-Light-Italic-Trial.woff2") format("woff2"); font-weight: 300; font-style: italic; font-display: swap; }

@font-face { font-family: 'Gt eesti text trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59d0df390bcb8440131f_GT-Eesti-Text-Medium-Trial.woff2") format("woff2"); font-weight: 500; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti text trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59d0647cd7566109a788_GT-Eesti-Text-Light-Trial.woff2") format("woff2"); font-weight: 300; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti text trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59d018a85029e569189f_GT-Eesti-Text-Medium-Italic-Trial.woff2") format("woff2"); font-weight: 500; font-style: italic; font-display: swap; }

@font-face { font-family: 'Voyage'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60c490ae772b12a53b479063_Voyage-Regular.woff2") format("woff2"), url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60c490ae672061254063f5cf_Voyage-Regular.woff") format("woff"); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: 'Voyage'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60c490c355dc491f42553c78_Voyage-Bold.woff2") format("woff2"), url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60c490c371559ebedf7b493a_Voyage-Bold.woff") format("woff"); font-weight: 700; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti display trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/615b0d6ec74b03774acc23b6_GT-Eesti-Display-UltraLight-Trial.woff2") format("woff2"), url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/615b0b40e72721bafde3898e_GT-Eesti-Display-UltraLight-Trial.otf") format("opentype"); font-weight: 200; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti text'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e48456184bc10ece19141d_GT-Eesti-Text-Light.woff2") format("woff2"), url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e48457142f0ca141c95f9c_GT-Eesti-Text-Light.woff") format("woff"), url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e4845641c3e5aea66147f5_GT-Eesti-Text-Light.ttf") format("truetype"); font-weight: 300; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti text 2'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e48457f012c23a87c3e479_GT-Eesti-Text-Light-2.woff2") format("woff2"), url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e484561cac2ee494605109_GT-Eesti-Text-Light-2.woff") format("woff"), url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e48457f012c2d06bc3e478_GT-Eesti-Text-Light-2.ttf") format("truetype"); font-weight: 300; font-style: normal; font-display: swap; }

html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; height: 100%; }

body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

body { margin: 0; min-height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-color: #171616; background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 22, 22, 0.89)), to(rgba(23, 22, 22, 0.89))), url("../images/bg/body_bg.jpg"); background-image: linear-gradient(180deg, rgba(23, 22, 22, 0.89), rgba(23, 22, 22, 0.89)), url("../images/bg/body_bg.jpg"); background-position: 0 0,50% 50%; background-size: auto,cover; background-repeat: repeat,no-repeat; background-attachment: scroll,fixed; font-family: 'Gt eesti text',sans-serif; font-size: 1vw; line-height: 1.5; font-weight: 300; color: #fff6f2; }

#header { position: fixed; left: 0; top: 0; right: 0; bottom: auto; z-index: 10; display: -webkit-box; display: -ms-flexbox; display: flex; width: 100vw; height: 5em; padding-left: 3em; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .logo-area { position: relative; margin-right: auto; margin-left: auto; padding-top: 10px; padding-bottom: 10px; -webkit-transition: .4s; transition: .4s; }

#header .logo a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; text-align: center; }

#header .logo a em { font-family: Voyage,sans-serif; font-size: 5.2vw; line-height: .9; font-weight: 400; }

#header .logo a span { font-size: .7vw; font-weight: 300; letter-spacing: 2px; text-transform: uppercase; }

#header .btn-nav { position: relative; z-index: 10; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 4.7em; height: auto; padding: 1.5em; }

#header .btn-nav svg { width: 100%; height: 100%; }

#gnb { position: fixed; top: -20vh; left: 0; z-index: 9; width: 100%; height: 100vh; display: none; }

#gnb.open { display: block; }

#gnb .gnb-item:nth-child(1) .link-gnb { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; background: #363636; z-index: 6; }

#gnb .gnb-item:nth-child(2) .link-gnb { background: #242424; z-index: 5; }

#gnb .gnb-item:nth-child(3) .link-gnb { background: #1d1d1d; -webkit-box-shadow: 0 4px 9px 0 #000; box-shadow: 0 4px 9px 0 #000; z-index: 4; }

#gnb .gnb-item:nth-child(4) .link-gnb { background: #181818; z-index: 3; }

#gnb .gnb-item:nth-child(5) .link-gnb { background: #141414; z-index: 2; }

#gnb .gnb-item:nth-child(6) .link-gnb { background: #0f0f0f; z-index: 1; }

#gnb .link-gnb { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: 16.666666666666668vh; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-shadow: 0 4px 9px 0 #000; box-shadow: 0 4px 9px 0 #000; -webkit-transition: color .2s; transition: color .2s; font-family: Voyage,sans-serif; font-size: 10vh; -webkit-transform: translateY(-33.3333vh) scale3d(1, 1, 1); transform: translateY(-33.3333vh) scale3d(1, 1, 1); -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }

#gnb .link-gnb:hover { color: #d86f6f; }

.sc-visual { position: relative; height: 100vh; min-height: 600px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; overflow: hidden; }

.sc-visual .title-area { position: absolute; z-index: 1; width: 90%; text-align: center; overflow: hidden; }

.sc-visual .title { position: relative; z-index: 15; font-family: 'Gt eesti text',sans-serif; font-size: 1.5em; line-height: 1; font-weight: 300; letter-spacing: .1em; text-transform: uppercase; }

.sc-visual .desc { margin-bottom: -28px; padding-bottom: 25px; overflow: hidden; font-family: Voyage,sans-serif; font-size: 9.5em; font-weight: 200; line-height: 1; }

.sc-visual .shortcut-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 4.2em; }

.sc-visual .link-shortcut { position: relative; overflow: hidden; margin-top: 0.5em; margin-right: 0.9em; margin-left: 0.9em; padding-right: 0.8em; font-family: Voyage,sans-serif; font-size: 2.3em; line-height: 1; color: snow; }

.sc-visual .ico-shortcut { position: absolute; left: auto; top: auto; right: 0; bottom: 0; width: 0.6em; height: 0.6em; background-image: url("../images/icon/ico_shortcut.svg"); }

.sc-visual .bg-area { position: relative; overflow: hidden; width: 100%; height: 100%; }

.sc-visual .bg-area::after { content: ''; position: absolute; left: 0; top: auto; right: 0; bottom: -46px; height: 10em; background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 27, 27, 0)), color-stop(58%, #171616)); background-image: linear-gradient(180deg, rgba(27, 27, 27, 0), #171616 58%); }

.sc-visual .bg-area .thumb-dim { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(23, 22, 22, 0.54), rgba(23, 22, 22, 0.32)); }

.sc-visual .bg { height: 100%; }

.sc-visual .bg img { width: 105%; height: 105%; max-width: none; -o-object-fit: cover; object-fit: cover; -o-object-position: 50% 50%; object-position: 50% 50%; }

.sc-gallery { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: auto; min-height: 100vh; }

.sc-gallery .inner { position: relative; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-item-align: auto; align-self: auto; width: 100%; height: 100%; padding: 4em 2em; overflow: hidden; }

.sc-gallery .float-wrap { position: relative; width: 100%; height: 90.1em; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; }

.sc-gallery .title-area .title { overflow: hidden; margin-top: 0; margin-bottom: -0.25em; padding-bottom: 0.2em; font-family: Voyage,sans-serif; font-size: 5.3em; line-height: 1; font-weight: 200; -webkit-transition: opacity 1s; transition: opacity 1s; }

.sc-gallery .title-area .title.fadein { opacity: 1; }

.sc-gallery .title-box { position: absolute; left: 11%; top: 25%; right: auto; bottom: auto; z-index: 5; width: 42.9em; }

.sc-gallery .title-box.second { left: auto; top: 63%; right: 3%; width: 56.1em; }

.sc-gallery .gallery { position: absolute; left: 0; top: 0; right: auto; bottom: auto; width: 40em; -webkit-box-shadow: 0 10px 2em 0 RGB(0 0 0/50%); box-shadow: 0 10px 2em 0 RGB(0 0 0/50%); opacity: .59; }

.sc-gallery .gallery:nth-child(1) { left: -5%; width: 25.9em; margin-top: 14.7em; opacity: .64; }

.sc-gallery .gallery:nth-child(2) { left: 21%; z-index: 2; width: 45.3em; }

.sc-gallery .gallery:nth-child(3) { left: auto; right: -4%; z-index: 9999999; width: 21.7em; }

.sc-gallery .gallery:nth-child(4) { left: 4%; z-index: 1; width: 25.1em; margin-top: 48em; }

.sc-gallery .gallery:nth-child(5) { left: 35%; z-index: 2; width: 47.5em; margin-top: 49.8em; }

.sc-gallery .gallery:nth-child(6) { left: auto; right: -7%; z-index: -1; width: 27.2em; margin-top: 43.3em; }

.sc-gallery .gallery img { width: 100%; }

.sc-gallery .obj-circle { position: absolute; left: auto; top: -13%; right: -29%; bottom: auto; z-index: 998; width: 62.1em; }

.sc-gallery .obj-circle.circle1 { left: -35%; top: auto; right: auto; bottom: 2%; z-index: 0; }
