/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; color: inherit; }

img { max-width: 100%; vertical-align: top; }

input, select, button { font: inherit; color: inherit; -webkit-appearance: none; border: 0; background: transparent; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { overflow-x: hidden; overflow-y: overlay; }

::-webkit-scrollbar { width: 7px; }

::-webkit-scrollbar-thumb { height: 8%; border-radius: 10px; background-color: rgba(107, 107, 107, 0.49); }

::-webkit-scrollbar-track { background: transparent; }

::-moz-selection { background: #1F1F1F; color: #DA7777; text-shadow: none; }

::selection { background: #1F1F1F; color: #DA7777; text-shadow: none; }

/* skip-nav */
#skip-nav { position: relative; z-index: 100; }

#skip-nav a { position: absolute; top: -30px; left: 0; width: 300px; background: #333; text-align: center; padding: 2px 6px 0 0; font-size: 13px; line-height: 26px; color: #fff; white-space: nowrap; }

#skip-nav a:focus { top: 0; }

.blind { position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip: rect(0 0 0 0); }

i[class^="ico-"], i[class*="ico-"] { display: inline-block; vertical-align: top; background-repeat: no-repeat; }

div[class*="inner"] { position: relative; margin: 0 auto; }

.abs { position: absolute; opacity: 0; }

span { display: inline-block; }

img { width: 100%; }

.bg-texture { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 22, 22, 0.89)), to(rgba(23, 22, 22, 0.89))), url("../images/bg/bg_texture.jpg"); background-image: linear-gradient(180deg, rgba(23, 22, 22, 0.89), rgba(23, 22, 22, 0.89)), url("../images/bg/bg_texture.jpg"); background-position: 0 0, 50% 50%; background-size: auto, cover; background-attachment: scroll, fixed; }

@font-face { font-family: 'Gt eesti display trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59b3647cd700d009a686_GT-Eesti-Display-Bold-Trial.woff2") format("woff2"); font-weight: 700; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti text trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59cfc1220c8460223adf_GT-Eesti-Text-Bold-Trial.woff2") format("woff2"); font-weight: 700; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti text book trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59cfcc6e4c55ae550ea4_GT-Eesti-Text-Book-Italic-Trial.woff2") format("woff2"); font-weight: 400; font-style: italic; font-display: swap; }

@font-face { font-family: 'Gt eesti text book trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59cf09292bd2c9d5caec_GT-Eesti-Text-Book-Trial.woff2") format("woff2"); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti text trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59cf48e1ea54a160aaef_GT-Eesti-Text-Bold-Italic-Trial.woff2") format("woff2"); font-weight: 700; font-style: italic; font-display: swap; }

@font-face { font-family: 'Gt eesti text trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59d03b4299d53c12cfea_GT-Eesti-Text-Light-Italic-Trial.woff2") format("woff2"); font-weight: 300; font-style: italic; font-display: swap; }

@font-face { font-family: 'Gt eesti text trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59d0df390bcb8440131f_GT-Eesti-Text-Medium-Trial.woff2") format("woff2"); font-weight: 500; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti text trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59d0647cd7566109a788_GT-Eesti-Text-Light-Trial.woff2") format("woff2"); font-weight: 300; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti text trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60ba59d018a85029e569189f_GT-Eesti-Text-Medium-Italic-Trial.woff2") format("woff2"); font-weight: 500; font-style: italic; font-display: swap; }

@font-face { font-family: 'Voyage'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60c490ae772b12a53b479063_Voyage-Regular.woff2") format("woff2"), url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60c490ae672061254063f5cf_Voyage-Regular.woff") format("woff"); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: 'Voyage'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60c490c355dc491f42553c78_Voyage-Bold.woff2") format("woff2"), url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/60c490c371559ebedf7b493a_Voyage-Bold.woff") format("woff"); font-weight: 700; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti display trial'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/615b0d6ec74b03774acc23b6_GT-Eesti-Display-UltraLight-Trial.woff2") format("woff2"), url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/615b0b40e72721bafde3898e_GT-Eesti-Display-UltraLight-Trial.otf") format("opentype"); font-weight: 200; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti text'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e48456184bc10ece19141d_GT-Eesti-Text-Light.woff2") format("woff2"), url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e48457142f0ca141c95f9c_GT-Eesti-Text-Light.woff") format("woff"), url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e4845641c3e5aea66147f5_GT-Eesti-Text-Light.ttf") format("truetype"); font-weight: 300; font-style: normal; font-display: swap; }

@font-face { font-family: 'Gt eesti text 2'; src: url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e48457f012c23a87c3e479_GT-Eesti-Text-Light-2.woff2") format("woff2"), url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e484561cac2ee494605109_GT-Eesti-Text-Light-2.woff") format("woff"), url("https://assets.website-files.com/60b6973f1c044b5da5fb3ff4/61e48457f012c2d06bc3e478_GT-Eesti-Text-Light-2.ttf") format("truetype"); font-weight: 300; font-style: normal; font-display: swap; }

html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; height: 100%; }

body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

body { margin: 0; min-height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-color: #171616; background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 22, 22, 0.89)), to(rgba(23, 22, 22, 0.89))), url("../images/bg/body_bg.jpg"); background-image: linear-gradient(180deg, rgba(23, 22, 22, 0.89), rgba(23, 22, 22, 0.89)), url("../images/bg/body_bg.jpg"); background-position: 0 0, 50% 50%; background-size: auto, cover; background-repeat: repeat, no-repeat; background-attachment: scroll, fixed; font-family: 'Gt eesti text', sans-serif; font-size: 1vw; line-height: 1.5; font-weight: 300; color: #fff6f2; }

.headline-area-wrap { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 10em; padding-bottom: 10em; }

.headline-area-wrap .title-area { text-align: center; }

.headline-area-wrap .sc-title { position: relative; z-index: 1; font-family: 'Gt eesti text', sans-serif; font-size: 1.3em; font-weight: 300; line-height: 1; letter-spacing: .1em; color: rgba(237, 220, 212, 0.89); text-transform: uppercase; overflow: hidden; -webkit-transition: opacity 1s, top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: opacity 1s, top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

@media (max-width: 991px) { .headline-area-wrap .sc-title { font-size: 12px; } }

.headline-area-wrap .sc-sub-title { margin-top: 2em; overflow: hidden; }

.headline-area-wrap .sc-sub-title h3 { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-bottom: -0.25em; padding-bottom: 0.2em; overflow: hidden; font-family: Voyage, sans-serif; font-size: 5.3em; font-weight: 200; line-height: 1; }

@media (max-width: 991px) { .headline-area-wrap .sc-sub-title h3 { padding-bottom: 0.2em; } }

@media (max-width: 479px) { .headline-area-wrap .sc-sub-title h3 { padding-bottom: 0.1em; } }

.headline-area-wrap .sc-sub-title span { padding-right: 0.1em; padding-left: 0.1em; }

@media (max-width: 479px) { .headline-area-wrap .sc-sub-title span { font-size: 2.4em; } }

#header { position: fixed; left: 0; top: 0; right: 0; bottom: auto; z-index: 10; display: -webkit-box; display: -ms-flexbox; display: flex; width: 100vw; height: 5em; padding-left: 3em; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (max-width: 991px) { #header { height: 8em; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

@media (max-width: 479px) { #header { height: 56px; } }

#header .logo-area { position: relative; margin-right: auto; margin-left: auto; -webkit-transition: .4s; transition: .4s; }

@media (max-width: 991px) { #header .logo-area { position: absolute; top: 0; font-size: 2vw; } }

@media (max-width: 479px) { #header .logo-area { font-size: 4vw; } }

#header .logo a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; text-align: center; padding-top: 10px; padding-bottom: 10px; }

#header .logo a em { font-family: Voyage,sans-serif; font-size: 5.2vw; line-height: .9; font-weight: 400; }

@media (max-width: 991px) { #header .logo a em { font-size: 7vw; } }

@media (max-width: 479px) { #header .logo a em { font-size: 14vw; } }

#header .logo a span { font-size: .7vw; font-weight: 300; letter-spacing: 2px; text-transform: uppercase; }

@media (max-width: 991px) { #header .logo a span { font-size: 1vw; } }

@media (max-width: 767px) { #header .logo a span { display: none; } }

@media (max-width: 479px) { #header .logo a span { font-size: 2vw; } }

#header .btn-nav { position: relative; z-index: 10; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 4.7em; height: auto; padding: 1.5em; }

@media (max-width: 991px) { #header .btn-nav { position: fixed; top: 0; right: 0; width: 8em; height: 8em; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 2em; padding: 20px; font-size: 1vw; } }

@media (max-width: 767px) { #header .btn-nav { margin-right: 7px; padding: 11px; } }

@media (max-width: 479px) { #header .btn-nav { width: 14em; height: 17em; margin-top: 2.8em; padding: 13px; } }

#header .btn-nav svg { width: 100%; height: 100%; }

#gnb { position: fixed; top: -20vh; left: 0; z-index: 9; width: 100%; height: 100vh; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; display: none; }

#gnb.open { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media (max-width: 991px) { #gnb { right: 0; height: 100%; } }

@media (max-width: 479px) { #gnb { top: -10vh; height: 74%; } }

#gnb .gnb-item:nth-child(1) .link-gnb { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; background: #363636; z-index: 6; }

@media (max-width: 991px) { #gnb .gnb-item:nth-child(1) .link-gnb { background: #242424; }
  #gnb .gnb-item:nth-child(1) .link-gnb:hover { color: #fff6f2; } }

#gnb .gnb-item:nth-child(2) .link-gnb { background: #242424; z-index: 5; }

#gnb .gnb-item:nth-child(3) .link-gnb { background: #1d1d1d; -webkit-box-shadow: 0 4px 9px 0 #000; box-shadow: 0 4px 9px 0 #000; z-index: 4; }

#gnb .gnb-item:nth-child(4) .link-gnb { background: #181818; z-index: 3; }

#gnb .gnb-item:nth-child(5) .link-gnb { background: #141414; z-index: 2; }

#gnb .gnb-item:nth-child(6) .link-gnb { background: #0f0f0f; z-index: 1; }

#gnb .link-gnb { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: 16.666666666666668vh; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-shadow: 0 4px 9px 0 #000; box-shadow: 0 4px 9px 0 #000; -webkit-transition: color .2s; transition: color .2s; font-family: Voyage,sans-serif; font-size: 10vh; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }

#gnb .link-gnb:hover { color: #d86f6f; }

@media (max-width: 991px) { #gnb .link-gnb { height: 15vh; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; background-color: #242424; -webkit-box-shadow: 0 4px 20px 0 #000; box-shadow: 0 4px 20px 0 #000; } }

@media (max-width: 767px) { #gnb .link-gnb { font-size: 8vw; } }

@media (max-width: 479px) { #gnb .link-gnb { height: 12vh; font-size: 12vw; } }

#footer { position: relative; z-index: 1; }

#footer .inner { width: 100%; height: 100%; padding-left: 8em; padding-right: 8em; padding-top: 1.7em; padding-bottom: 2em; }

@media (max-width: 767px) { #footer .inner { padding-right: 12.1em; padding-left: 12.1em; } }

@media (max-width: 479px) { #footer .inner { padding-left: 5.3em; padding-right: 5.3em; } }

#footer .group-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

@media (max-width: 767px) { #footer .group-nav { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

@media (max-width: 767px) { #footer .nav-area { text-align: center; }
  #footer .nav-area + .nav-area { margin-top: 50px; } }

#footer .nav-area .title { margin-bottom: 0.5em; font-family: Voyage, sans-serif; font-size: 3.9em; font-weight: 400; line-height: 1; color: #fff6f2; }

@media (max-width: 767px) { #footer .nav-area .title { font-size: 4.3em; } }

@media (max-width: 479px) { #footer .nav-area .title { margin-top: 21px; margin-bottom: 0.3em; font-size: 7.5em; } }

#footer .nav-area:nth-child(2) .nav-list { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

@media (max-width: 767px) { #footer .nav-area:nth-child(2) .nav-list { -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

#footer .nav-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

#footer .nav-item { margin-top: 0.8em; font-size: 1.2em; letter-spacing: .05em; text-transform: uppercase; overflow: hidden; -webkit-transition: color .4s; transition: color .4s; }

#footer .nav-item:hover { color: #ec8383; }

@media (max-width: 991px) { #footer .nav-item { font-family: 'Gt eesti display trial', sans-serif; font-size: 1.7em; font-weight: 200; } }

@media (max-width: 767px) { #footer .nav-item { padding-top: 0.3em; padding-bottom: 0.3em; font-size: 3em; } }

@media (max-width: 479px) { #footer .nav-item { font-size: 4.7em; } }

#footer .link-nav { position: relative; display: block; padding-top: 0.1em; padding-bottom: 0.1em; -webkit-transition: top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

#footer .copyright { font-family: 'Gt eesti text', sans-serif; font-size: 1.1em; text-align: center; opacity: .8; }

@media (max-width: 991px) { #footer .copyright { font-size: 1em; } }

@media (max-width: 767px) { #footer .copyright { margin-top: 2em; } }

@media (max-width: 479px) { #footer .copyright { font-size: 2.5em; } }

#footer .copyright a { display: block; }

@media (max-width: 991px) { #footer .copyright a { font-size: 2vw; } }

@media (max-width: 479px) { #footer .copyright a { font-size: 1.5vw; } }

@media (max-width: 479px) { #footer .copyright { margin-top: 32px; margin-bottom: 30px; } }

.link-shortcut { display: inline-block; position: relative; overflow: hidden; margin-top: 0.5em; padding-right: 0.8em; font-family: Voyage, sans-serif; font-size: 4.4em; line-height: 1; color: snow; }

@media (max-width: 767px) { .link-shortcut { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 13px; padding-bottom: 13px; } }

@media (max-width: 479px) { .link-shortcut { padding-right: 0; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; font-size: 9.5em; } }

.link-shortcut .ico-shortcut { position: absolute; left: auto; top: auto; right: 0; bottom: 0; width: 0.6em; height: 0.6em; background-image: url("../images/icon/ico_shortcut.svg"); background-size: cover; }

@media (max-width: 767px) { .link-shortcut .ico-shortcut { position: relative; bottom: auto; margin-left: 7px; } }

@media (max-width: 767px) { .link-shortcut .ico-shortcut.abs { display: none; } }

.sc-visual { position: relative; height: 100vh; min-height: 600px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; overflow: hidden; }

@media (max-width: 991px) { .sc-visual { height: 60em; min-height: 100vh; } }

@media (max-width: 767px) { .sc-visual { min-height: 300px; } }

@media (max-width: 479px) { .sc-visual { height: 100vh; min-height: 500px; } }

.sc-visual .group-title { position: absolute; z-index: 1; width: 90%; text-align: center; }

@media (max-width: 479px) { .sc-visual .group-title { left: 0; top: auto; right: 0; bottom: 16%; margin-right: auto; margin-left: auto; text-align: left; font-size: 1vw; } }

.sc-visual .title { position: relative; z-index: 1; font-family: 'Gt eesti text', sans-serif; font-size: 1.5em; line-height: 1; font-weight: 300; letter-spacing: .1em; text-transform: uppercase; overflow: hidden; }

@media (max-width: 991px) { .sc-visual .title { font-size: 2em; } }

@media (max-width: 767px) { .sc-visual .title { font-size: 2.5em; } }

@media (max-width: 479px) { .sc-visual .title { margin-bottom: 5px; font-size: 3em; } }

@media (max-width: 479px) { .sc-visual .desc-area { font-size: 2vw; } }

.sc-visual .desc { margin-bottom: -28px; padding-bottom: 25px; overflow: hidden; font-family: Voyage, sans-serif; font-size: 9.5em; font-weight: 200; line-height: 1; }

@media (max-width: 991px) { .sc-visual .desc { margin-bottom: 0; padding-bottom: 0; } }

@media (max-width: 479px) { .sc-visual .desc { margin-top: -0.1em; font-size: 4.8em; line-height: .9; } }

.sc-visual .shortcut-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 4.2em; }

@media (max-width: 991px) { .sc-visual .shortcut-area { font-size: 1.5vw; } }

@media (max-width: 479px) { .sc-visual .shortcut-area { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } }

.sc-visual .link-shortcut { margin-right: 0.9em; margin-left: 0.9em; font-size: 2.3em; }

@media (max-width: 991px) { .sc-visual .link-shortcut { margin-right: 1em; margin-left: 1em; } }

@media (max-width: 479px) { .sc-visual .link-shortcut { margin-left: 0; font-size: 7em; }
  .sc-visual .link-shortcut:nth-child(2) { display: none; } }

.sc-visual .bg-area { position: relative; overflow: hidden; width: 100%; height: 100%; }

.sc-visual .bg-area::after { content: ''; position: absolute; left: 0; top: auto; right: 0; bottom: -46px; height: 10em; background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 27, 27, 0)), color-stop(58%, #171616)); background-image: linear-gradient(180deg, rgba(27, 27, 27, 0), #171616 58%); }

.sc-visual .bg-area .thumb-dim { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(23, 22, 22, 0.54), rgba(23, 22, 22, 0.32)); }

.sc-visual .bg { height: 100%; }

@media (max-width: 479px) { .sc-visual .bg { width: 100%; } }

.sc-visual .bg img { width: 105%; height: 105%; max-width: none; -o-object-fit: cover; object-fit: cover; -o-object-position: 50% 50%; object-position: 50% 50%; }

@media (max-width: 479px) { .sc-visual .bg img { -o-object-position: 41% 50%; object-position: 41% 50%; } }

.sc-gallery { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: auto; min-height: 100vh; }

@media (max-width: 991px) { .sc-gallery { overflow: hidden; min-height: 50em; } }

.sc-gallery .inner { position: relative; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-item-align: auto; align-self: auto; width: 100%; height: 100%; padding: 4em 2em; overflow: hidden; }

@media (max-width: 991px) { .sc-gallery .inner { padding: 40px 4vw; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; } }

@media (max-width: 479px) { .sc-gallery .inner { padding: 50px 7vw 0; } }

.sc-gallery .float-wrap { position: relative; width: 100%; height: 90.1em; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; }

@media (max-width: 991px) { .sc-gallery .float-wrap { height: 83.1em; } }

@media (max-width: 479px) { .sc-gallery .float-wrap { height: auto; margin-top: 100px; } }

.sc-gallery .title-box-wrap .title { overflow: hidden; margin-top: 0; margin-bottom: -0.25em; padding-bottom: 0.2em; font-family: Voyage, sans-serif; font-size: 5.3em; line-height: 1; font-weight: 200; -webkit-transition: opacity 1s; transition: opacity 1s; }

@media (max-width: 991px) { .sc-gallery .title-box-wrap .title { padding-bottom: 0.2em; font-size: 6.1em; } }

@media (max-width: 479px) { .sc-gallery .title-box-wrap .title { padding-bottom: 0.1em; font-size: 9.7em; } }

.sc-gallery .title-box-wrap .title.fadein { opacity: 1; }

@media (max-width: 479px) { .sc-gallery .title-box-wrap .title.fadein { font-size: 9.1em; } }

.sc-gallery .title-box { position: absolute; left: 11%; top: 25%; right: auto; bottom: auto; z-index: 5; width: 42.9em; }

@media (max-width: 767px) { .sc-gallery .title-box { width: 47.9em; } }

@media (max-width: 479px) { .sc-gallery .title-box { left: 0; top: -9%; width: 100%; text-align: center; } }

.sc-gallery .title-box.bottom { left: auto; top: 63%; right: 3%; width: 56.1em; }

@media (max-width: 767px) { .sc-gallery .title-box.bottom { width: 63.5em; } }

@media (max-width: 479px) { .sc-gallery .title-box.bottom { right: 0; width: 100%; } }

.sc-gallery .gallery { position: absolute; left: 0; top: 0; right: auto; bottom: auto; width: 40em; -webkit-box-shadow: 0 10px 2em 0 RGB(0 0 0/50%); box-shadow: 0 10px 2em 0 RGB(0 0 0/50%); opacity: .59; }

@media (max-width: 479px) { .sc-gallery .gallery { position: relative; left: auto; top: auto; width: 100%; margin-bottom: 20px; } }

.sc-gallery .gallery:nth-child(1) { left: -5%; width: 25.9em; margin-top: 14.7em; opacity: .64; }

@media (max-width: 991px) { .sc-gallery .gallery:nth-child(1) { margin-top: 7.6em; } }

@media (max-width: 767px) { .sc-gallery .gallery:nth-child(1) { margin-top: 10.6em; } }

@media (max-width: 479px) { .sc-gallery .gallery:nth-child(1) { left: auto; width: 100%; } }

.sc-gallery .gallery:nth-child(2) { left: 21%; z-index: 2; width: 45.3em; }

@media (max-width: 479px) { .sc-gallery .gallery:nth-child(2) { left: auto; width: 100%; } }

.sc-gallery .gallery:nth-child(3) { left: auto; right: -4%; z-index: 9999999; width: 21.7em; }

@media (max-width: 991px) { .sc-gallery .gallery:nth-child(3) { right: -2%; } }

@media (max-width: 479px) { .sc-gallery .gallery:nth-child(3) { right: auto; width: 100%; display: none; } }

.sc-gallery .gallery:nth-child(4) { left: 4%; z-index: 1; width: 25.1em; margin-top: 48em; }

@media (max-width: 991px) { .sc-gallery .gallery:nth-child(4) { left: -3%; top: -3%; margin-top: 38.7em; } }

@media (max-width: 767px) { .sc-gallery .gallery:nth-child(4) { top: -27%; margin-top: 66.5em; } }

@media (max-width: 479px) { .sc-gallery .gallery:nth-child(4) { left: auto; top: auto; display: block; width: 100%; margin-top: auto; } }

.sc-gallery .gallery:nth-child(5) { left: 35%; z-index: 2; width: 47.5em; margin-top: 49.8em; }

@media (max-width: 991px) { .sc-gallery .gallery:nth-child(5) { left: 27%; } }

@media (max-width: 767px) { .sc-gallery .gallery:nth-child(5) { left: 31%; top: -8%; } }

@media (max-width: 479px) { .sc-gallery .gallery:nth-child(5) { left: auto; width: 100%; margin-top: auto; } }

.sc-gallery .gallery:nth-child(6) { left: auto; right: -7%; z-index: -1; width: 27.2em; margin-top: 43.3em; }

@media (max-width: 991px) { .sc-gallery .gallery:nth-child(6) { right: 0; } }

@media (max-width: 767px) { .sc-gallery .gallery:nth-child(6) { top: 9%; right: -16%; } }

@media (max-width: 479px) { .sc-gallery .gallery:nth-child(6) { right: auto; width: 100%; margin-top: auto; } }

.sc-gallery .obj-circle { position: absolute; left: auto; top: -13%; right: -29%; bottom: auto; z-index: 998; width: 62.1em; }

.sc-gallery .obj-circle.circle1 { left: -35%; top: auto; right: auto; bottom: 2%; z-index: 0; }

@media (max-width: 479px) { .sc-gallery .obj-circle { display: none; } }

.sc-plan .title-area .ico-box { margin-bottom: -2em; padding-bottom: 2em; }

.sc-plan .title-area .ico-arrow-down { width: 64px; height: auto; margin-top: 39px; padding-top: 32px; -webkit-transform: rotate(137deg); transform: rotate(137deg); }

@media (max-width: 991px) { .sc-plan .title-area .ico-arrow-down { width: 39px; } }

@media (max-width: 479px) { .sc-plan .title-area .ico-arrow-down { width: 25px; margin-top: 14px; } }

.sc-plan .plan-list-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; min-height: 100vh; overflow: hidden; }

@media (max-width: 991px) { .sc-plan .plan-list-wrap { min-height: 50em; } }

.sc-plan .plan-list { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; overflow: hidden; }

@media (max-width: 991px) { .sc-plan .plan-list { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.sc-plan .plan-item { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -ms-flex-item-align: end; align-self: end; height: 100%; overflow: hidden; }

@media (max-width: 991px) { .sc-plan .plan-item { width: 100%; height: 83.6em; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -ms-flex-preferred-size: auto; flex-basis: auto; } }

@media (max-width: 767px) { .sc-plan .plan-item { height: 97.9em; } }

@media (max-width: 479px) { .sc-plan .plan-item { height: 123vh; } }

.sc-plan .plan-item .thumb-box { position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; }

@media (max-width: 991px) { .sc-plan .plan-item .thumb-box { overflow: hidden; } }

.sc-plan .plan-item .thumb-box img { position: absolute; height: 120%; -o-object-fit: cover; object-fit: cover; }

@media (max-width: 479px) { .sc-plan .plan-item .thumb-box img { height: 105%; -o-object-position: 50% 50%; object-position: 50% 50%; } }

.sc-plan .plan-item .info-box-wrap { position: relative; min-height: 28.5em; margin-bottom: 0; padding: 2.5em 2.4em; background-color: rgba(23, 22, 22, 0.35); -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); }

@media (max-width: 991px) { .sc-plan .plan-item .info-box-wrap { width: 100%; padding-right: 5.9em; padding-left: 5.9em; } }

@media (max-width: 767px) { .sc-plan .plan-item .info-box-wrap { padding: 4.1em 4.8em; } }

@media (max-width: 479px) { .sc-plan .plan-item .info-box-wrap { padding-bottom: 6.6em; } }

.sc-plan .plan-item .info-box { position: relative; }

@media (max-width: 991px) { .sc-plan .plan-item .info-box { font-size: 2vw; } }

@media (max-width: 479px) { .sc-plan .plan-item .info-box { font-size: 4vw; } }

.sc-plan .plan-item .info-box .num { overflow: hidden; font-family: Voyage, sans-serif; color: #e08686; font-size: 1.5em; line-height: 1; }

.sc-plan .plan-item .info-box .title { margin-bottom: 0.5em; overflow: hidden; }

.sc-plan .plan-item .info-box .title strong { font-family: Voyage, sans-serif; font-size: 3em; font-weight: 400; line-height: 1; }

.sc-plan .plan-item .info-box .desc { margin-bottom: 0.8em; opacity: .8; font-size: 1.1em; }

.sc-plan .plan-item .info-box .desc span { font-family: 'Gt eesti text trial', sans-serif; font-weight: 300; }

@media (max-width: 991px) { .sc-plan .plan-item .info-box .desc span { display: inline; font-size: .9em; } }

@media (max-width: 479px) { .sc-plan .plan-item .info-box .desc span { font-size: 1em; } }

.sc-story .headline-area-wrap { margin-top: -1.4em; z-index: 1; }

.sc-story .story-list-wrap { max-width: 100vw; min-height: 100vh; }

@media (max-width: 767px) { .sc-story .story-list-wrap { min-height: 50em; } }

@media (max-width: 479px) { .sc-story .story-list-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.sc-story .story-list { position: relative; padding-top: 20em; padding-bottom: 20em; }

@media (max-width: 991px) { .sc-story .story-list { height: 100%; padding-top: 30.5em; padding-bottom: 30.5em; } }

@media (max-width: 767px) { .sc-story .story-list { padding-top: 38em; padding-bottom: 38em; } }

@media (max-width: 479px) { .sc-story .story-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: auto; margin-top: 7px; padding-top: 78.1em; padding-bottom: 78.1em; } }

.sc-story .story-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 4.9em; padding-bottom: 4.9em; opacity: .81; }

@media (max-width: 479px) { .sc-story .story-area { position: static; padding-top: 17.3em; padding-bottom: 17.3em; } }

.sc-story .story-area .thumb-box { position: absolute; left: 0; top: 0; right: 0; bottom: 0; height: 100vh; -webkit-transition: opacity .6s; transition: opacity .6s; pointer-events: none; }

@media (max-width: 991px) { .sc-story .story-area .thumb-box { height: 100%; } }

.sc-story .story-area .thumb-box img { width: 100vw; height: 100vh; -o-object-fit: cover; object-fit: cover; -webkit-transform: scale(1); transform: scale(1); -webkit-filter: brightness(80%); filter: brightness(80%); -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1); transition: -webkit-transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1); transition: transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1); transition: transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1); }

@media (max-width: 991px) { .sc-story .story-area .thumb-box img { position: -webkit-sticky; position: sticky; top: 0; } }

.sc-story .story-area .info-box { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; cursor: pointer; -webkit-transform: scale(1.3); transform: scale(1.3); -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1); transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1); transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1); transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1); z-index: 1; }

.sc-story .story-area .title-wrap { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; overflow: hidden; }

.sc-story .story-area .title { position: relative; display: block; width: 50vw; font-weight: 200; }

.sc-story .story-area .title-view { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; position: absolute; bottom: -100%; width: 5.7em; margin-right: auto; margin-left: auto; font-weight: 400; }

.sc-story .story-area .title, .sc-story .story-area .title-view { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; padding-bottom: 0.2em; overflow: hidden; font-family: Voyage, sans-serif; font-size: 5.3em; line-height: 1; text-align: center; -webkit-transition: opacity .3s; transition: opacity .3s; }

@media (max-width: 479px) { .sc-story .story-area .title, .sc-story .story-area .title-view { width: auto; font-size: 9.8em; } }

.sc-story .story-area .date { position: absolute; bottom: -1.3em; font-family: 'Gt eesti text 2', sans-serif; font-size: 1.5vw; font-weight: 300; letter-spacing: 2px; color: #d86f6f; }

@media (max-width: 479px) { .sc-story .story-area .date { font-size: 3vw; } }

.sc-intro { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-height: 100vh; padding-top: 10em; padding-bottom: 10em; }

@media (max-width: 991px) { .sc-intro { min-height: 72.4em; } }

@media (max-width: 767px) { .sc-intro { min-height: auto; } }

.sc-intro .inner { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-item-align: stretch; align-self: stretch; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; width: 95vw; height: 100%; margin-right: auto; margin-left: auto; padding: 0 2em; z-index: 1; }

@media (max-width: 991px) { .sc-intro .inner { padding-left: 0; } }

@media (max-width: 767px) { .sc-intro .inner { padding-right: 0; padding-left: 0; } }

@media (max-width: 479px) { .sc-intro .inner { width: 100vw; padding-right: 5vw; padding-left: 5vw; } }

.sc-intro .info-box-wrap { display: -ms-grid; display: grid; grid-auto-columns: 1fr; -ms-grid-rows: auto; grid-template-rows: auto; -ms-grid-columns: 1fr 1fr; grid-template-columns: 1fr 1fr; grid-row-gap: 16px; grid-column-gap: 16px; }

@media (max-width: 991px) { .sc-intro .info-box-wrap { grid-column-gap: 0px; -ms-grid-columns: 2fr 1fr; grid-template-columns: 2fr 1fr; } }

@media (max-width: 767px) { .sc-intro .info-box-wrap { -ms-grid-columns: 1fr 0.25fr; grid-template-columns: 1fr 0.25fr; } }

@media (max-width: 479px) { .sc-intro .info-box-wrap { -ms-grid-columns: 1fr; grid-template-columns: 1fr; } }

.sc-intro .info-box { padding-top: 5em; padding-bottom: 5em; }

@media (max-width: 991px) { .sc-intro .info-box { font-size: .8vw; } }

@media (max-width: 767px) { .sc-intro .info-box { padding-top: 0; padding-bottom: 0; } }

@media (max-width: 479px) { .sc-intro .info-box { margin-top: 17px; font-size: 1vw; } }

.sc-intro .sc-sub-title { position: relative; z-index: 1; margin-top: 1em; }

.sc-intro .sc-sub-title h3 .row { display: inline-block; padding-right: 0.1em; padding-left: 0.1em; padding-bottom: 0.2em; margin-top: 0; margin-bottom: -0.25em; font-family: Voyage, sans-serif; font-size: 4.6em; font-weight: 200; line-height: 1; overflow: hidden; }

@media (max-width: 991px) { .sc-intro .sc-sub-title h3 .row { padding-bottom: 0.3em; font-size: 7em; } }

@media (max-width: 479px) { .sc-intro .sc-sub-title h3 .row { font-size: 10.7em; } }

.sc-intro .sc-sub-title h3 .row:nth-child(1) { margin-bottom: -0.05em; }

.sc-intro .sc-sub-title h3 .row:nth-child(2) { margin-top: -0.4em; margin-bottom: -0.35em; padding-top: 0.1em; padding-bottom: 0.5em; }

@media (max-width: 991px) { .sc-intro .sc-sub-title h3 .row:nth-child(2) { margin-top: -0.35em; } }

.sc-intro .desc { margin-top: 0; margin-bottom: 0.8em; opacity: .8; font-size: 1.1em; line-height: 1.5; }

@media (max-width: 991px) { .sc-intro .desc { font-size: 2em; } }

@media (max-width: 767px) { .sc-intro .desc { font-size: 2.3em; } }

@media (max-width: 479px) { .sc-intro .desc { font-size: 4.4em; } }

.sc-intro .thumb-wrap { position: absolute; left: auto; top: 0; right: 0; bottom: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 50vw; overflow: hidden; z-index: 1; }

@media (max-width: 767px) { .sc-intro .thumb-wrap { width: 40vw; } }

@media (max-width: 479px) { .sc-intro .thumb-wrap { position: relative; width: 100%; -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; } }

.sc-intro .thumb-wrap .thumb-dim { position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: #171616; }

.sc-intro .thumb-back { position: absolute; left: auto; top: 0; right: 0; bottom: 0; width: 50vw; height: 100%; opacity: .55; -webkit-filter: grayscale(100%); filter: grayscale(100%); z-index: 1; }

@media (max-width: 991px) { .sc-intro .thumb-back { width: 33vw; } }

@media (max-width: 767px) { .sc-intro .thumb-back { display: none; } }

.sc-intro .thumb-back img { height: 100%; -o-object-fit: cover; object-fit: cover; }

.sc-intro .thumb-front { padding-left: 11.2em; -webkit-transform-origin: 0% 50%; transform-origin: 0% 50%; mix-blend-mode: lighten; z-index: 2; }

@media (max-width: 991px) { .sc-intro .thumb-front { padding-left: 12.9em; } }

@media (max-width: 767px) { .sc-intro .thumb-front { padding-left: 12.2em; } }

@media (max-width: 479px) { .sc-intro .thumb-front { padding-left: 0; } }

.sc-intro .thumb-front img { position: relative; width: 29vw; height: 44vw; -o-object-fit: cover; object-fit: cover; -o-object-position: 0% 50%; object-position: 0% 50%; mix-blend-mode: normal; }

@media (max-width: 479px) { .sc-intro .thumb-front img { width: 100vw; max-width: none; height: 150.4em; } }

.sc-intro .thumb-front .name { display: block; opacity: .63; }

.sc-contact { position: relative; z-index: 1; }

@media (max-width: 479px) { .sc-contact { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.sc-contact .title-area { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; padding: 10em 5em 10em 0.3em; }

@media (max-width: 767px) { .sc-contact .title-area { padding-top: 23.9em; padding-bottom: 23.9em; } }

@media (max-width: 479px) { .sc-contact .title-area { padding: 25.8em 3em; } }

.sc-contact .title { display: inline-block; max-width: 100%; font-family: Voyage, sans-serif; font-size: 12em; color: #fff6f2; line-height: 1; position: relative; margin-bottom: -0.1em; white-space: nowrap; overflow: hidden; }

@media (max-width: 479px) { .sc-contact .title { font-size: 12.8em; } }

.sc-contact .title a { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.sc-contact .link-contact { position: relative; left: 59px; bottom: -1.4em; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 10em; height: 10em; -webkit-transition: 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s; transition: 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s; }

@media (max-width: 767px) { .sc-contact .link-contact { left: 14px; } }

@media (max-width: 479px) { .sc-contact .link-contact { left: 0; width: 15em; height: 15em; } }

.sc-contact .link-contact .rotate { position: absolute; left: 0; top: 0; right: 0; bottom: 0; cursor: pointer; }

@media (max-width: 479px) { .sc-contact .link-contact .rotate { display: none; } }

.sc-contact .link-contact .circle { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; position: relative; left: 0; top: 0; right: 0; bottom: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-item-align: center; align-self: center; width: 60%; height: 60%; border-radius: 50%; background-color: #d86f6f; transition: transform 0.5s, opacity 0.2s, bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.5s; cursor: pointer; }

.sc-contact .link-contact .circle .ico-arrow-b { width: 50%; height: 50%; background-image: url("../images/icon/ico_arrow_b.svg"); background-size: cover; }
